# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
**/*.db

# Logs
*.log

# OS files
.DS_Store

# Docker
*.pid

# Ignore local config
.env

# Ignore VSCode settings
.vscode/

# Data files
credit_admin/data/*.json
credit_admin/data/*.jsonl

REFACTORING_SUMMARY.md