# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
**/webui.db

# Logs
*.log
credit_admin/app/data/credits_log.jsonl

# OS files
.DS_Store

# Docker
*.pid

# Ignore local config
.env

# Ignore VSCode settings
.vscode/
