# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
**/*.db

# Logs
*.log

# OS files
.DS_Store

# Docker
*.pid

# Ignore local config
.env
.env.backup
.webui_secret_key
credit_admin/nginx.conf

# Ignore VSCode settings
.vscode/

# Data files
credit_admin/data/*.json
credit_admin/data/*.jsonl

# SSL certificates
credit_admin/ssl/*.pem

REFACTORING_SUMMARY.md
credit_admin/uv.lock

# Ignore Python egg and dist info
dist/
*egg-info*
credit_admin/.env_backup
