# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# SQLite database
app/data/webui.db

# Logs
*.log
app/data/credits_log.jsonl

# OS files
.DS_Store

# Docker
*.pid

# Ignore local config
.env

# Ignore VSCode settings
.vscode/
